# Puerto de la API
PORT=3000

# Secretos de la Aplicación
JWT_SECRET=kambista-secreto-dev
MONGODB_URI=mongodb://admin:kambista123@mongodb:27017/kambistadb?authSource=admin

# Credenciales de Inicialización de MongoDB (Usadas por la imagen oficial de Mongo)
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=kambista123
MONGO_INITDB_DATABASE=kambistadb